* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
   }
    html {
        box-sizing: border-box;
        height: 100%;
        width: 100%;

    }
    body {
        height: 100%;
        width: 100%;
    }
    .links { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        font-weight: bolder;
        color: #031251;
        cursor: pointer;
        
       
    }
    .links-profile {
        text-decoration: none;
        font-weight: bolder;
        color: #031251;
        cursor: pointer;

    }

/* ----------- GENERAL -----------*/

/*

--- --- ---       ---\\\        ///---
--- --- ---\\\    --- \\\      /// ---
---         \\\   ---  \\\    ///  ---
---         |||   ---   \\\  ///   ---
--- --- -- ///    ---    \\\///    ---
--- --- ---       ---              ---
---               ---              ---
---               ---              ---
---               ---              ---

*/

/* ----------- DESKTOP ----------- */
@media (min-width: 921px) { 
    /*----- LOGIN -------*/
  
    .fondo { 
        
        display: block;
        

        background-color: #C2E641;
        background-repeat: no-repeat;
        
        
        width: 100%;
        
    }

    .elmain {
        height: 100%;

    }
   
    .back-green {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inicio-sesion {

       
        text-align: center;
        width: 30%;
       
        padding: 30px;

        background-color: #FFFFFF;
        color: #B0D0F5;
        
        border-radius: 20px;
        margin-top: 150px;
       
    }


    .sesion-texto {
        width: 100%;
        text-align: start;
        margin-top: 10px;
        color: #42549C;
        font-weight: bolder;
    }

    #user-texto, #password-texto {
        width: 100%;
        background-color: #B0D0F5;
        margin-top: 10px;
        padding: 20px;
        border-radius: 50px;
        border-style: none;
        

    }

    #boton-inicio {
        border-radius: 50px;
        background-color: #031251;
        color: #FFFFFF;
        font-weight: bolder;

        width: 160px;
        margin-top: 10px;
        padding: 10px;

    }

    .footdown {

        background-color: #031251;
        height: 30px;
    }

    /*--------------- MENU - TRAVEL PAGE -----------------*/
    .buttonBurger {
        display: block;
        text-decoration: none;
        border: none;
        background-color: #FFFFFF;
        cursor: pointer;

    }
    .buttonBurger:hover {
        text-decoration: none;
        border: none;
        background-color:#B0D0F5;
        cursor: pointer;

    }

    .barra-diseno {
        display: block;
        text-align: center;
        border-style: 1px solid;
        border-color: #031251;
        border-radius: 50px;
        
        width: 100%;


    }




    #topnav {
       
        position: relative;
    }
    
    #topnav #myLinks2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
        float: left;
        width: 100%;
        margin-left: 40px;
        margin-right: 20px;
        

    }

    #myLinks {
        float: right;
        margin-left: 20px;
        margin-right: 20px;
        
    }

    .white-bg {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background-color: #FFFFFF;
        padding:  20px 10px 20px 5px;
        width: 15%;
        height: 80px;

    }
    .burger-nb {
        margin:10px;

    }
    .view-nb {
        margin: 0px;
        background-color: #B0D0F5;

    }
    .dots-nb {
        margin: 0px;
        background-color: #B0D0F5;

    }

    

    #v-next, #v-complete, #v-hour, #v-invoice, #v-profile, #v-editprofile, #v-setting, #v-logout {
    
        display: none;
    }
   
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 80px;
        background-color: #AACA43;   
        
    }

    .lista-menu2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 100%;
        height: 80px;
        
       /* margin-left: 40px;*/
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        
    }
/*

    .navegador {
        width: 100%;
    }

    .navegador:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #cadff6;
        height: 100px;
        border-radius: 50px;
        transition: 80ms;

    }*/

    .perfil {
        width: 100%;
    }

    .icon {
        display: none;
    }

    #profile-user {

        background-color: #FFFFFF;
        /*margin-left: 200px;*/
        padding: 10px;
        border-radius: 100px;
        border-style: solid 5px;
        border-color: #031251;


    }

    
    /*-------- ESPACIO PRINCIPAL DE TRABAJO --------*/
   

    .b-lateral {
        display: none;
        
    }

    .b-lateral.open{
        display: block;
        position: absolute;
        z-index: 2;
        background-color: #FFFFFF;
        width: 20%;
        height: 100%;
        float: left;
        padding: 20px;
    }

    
     .fondo-principal {
        padding: 0px;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        float: left;
        background-color: #FFFFFF;
    }

    .boton-cerrar {
        padding: 5px 10px 5px 10px;
        margin-top: 20px;
        margin-left: 20px;
        border-style: none;
        border-radius: 100px;
        background-color: #bbb;
    }

    .boton-cerrar:hover {
        padding: 5px 10px 5px 10px;
        margin-top: 20px;
        margin-left: 20px;
        border-style: none;
        border-radius: 100px;
        background-color: #cadff6;
    }

    .table-description {
        display: inline-flex;
        align-items:center;
        justify-content: flex-start;
        width: 100%;
        height: 60px;
        background-color: #42549C;
        color: #FFFFFF;
    }

    .diseno-table-description {
        margin-left: 15px;
        margin-right: 15px;


    }

    .diseno-cuadro {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 60px;
        margin-top: 3px;
        overflow: hidden;
        padding: 10px;
        background-color: #B0D0F5;
    }

    .diseno-status {
        border-radius: 100px;
        border-style: none;
        background-color: #0b5e77;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-left: 20px;

    }

    .diseno-texto {
        margin-left: 15px;
        margin-right: 15px;
        border-style: none;

    }

    .b-formulario {
        display: none;
        height: 100%;
        width: 70%;
        right: 0;
        
        background-color: #FFFFFF;
        position: absolute;
        z-index: 2;
    }

    .border-div {
        border-style: solid;
        border-color: #031251;

    }
    .other-2 {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        
       
        width: 100%;
        height: 100%;
        
        padding: 50px;
        z-index: 3;
    }
    .other-form {
        
        background-color: #FFFFFF;
        width: 80%;
        border-radius: 30px;
        
    }

    

    /*------- BARRA LATERAL -------*/
    .dot {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        
    }

   .grid-container {
        
        height: 100%;
    }

    

    #boton1 {
        display: block;
        text-decoration: none;
        position: relative;
        left: -20px;
        border-radius: 100px;
        border-style: none;
        color: #031251;
        font-size: 16pt;
        font-weight: bold;
        padding: 5px;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .boton2 {
        display: block;
        border-radius: 10px;
        background-color: #FFFFFF;
        color: #031251;
        padding: 10px;
        text-align: center;
        
        
    }


.v-line3 { 

    display: none;
}

.form-container {
    color:#031251;
    font-size: large;
}

.form-info {
    padding: 50px;
}

.form-diseno {
    margin-bottom: 20px;
}

.form-diseno2 {

    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox-design {

    margin: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
   
    background-color: #B0D0F5;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #B0D0F5;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #96A2D2;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #96A2D2;
    background-color: #96A2D2;
    border-top: none;
    padding: 30px;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .textos {
    border-radius: 10px;
    border-style: none;


  }

} /* ------ END OF MEDIA QUERY ------*/
/*

--- --- ---       ---\\\        ///---
--- --- ---\\\    --- \\\      /// ---
---         \\\   ---  \\\    ///  ---
---         |||   ---   \\\  ///   ---
--- --- -- ///    ---    \\\///    ---
--- --- ---       ---              ---
---               ---              ---
---               ---              ---
---               ---              ---

*/

/* ----------- TABLET ----------- */

@media (min-width: 480px) and (max-width: 920px ){

 /*----- LOGIN -------*/
  
 .fondo { 
        
    display: block;
    

    background-image: url(./img/pacific.jpg);
    background-repeat: no-repeat;
    
    
    width: 100%;
    
}


.inicio-sesion {

    text-align: center;
    width: 30%;
   
    padding: 30px;

    background-color: #FFFFFF;
    color: #B0D0F5;

    border-radius: 20px;
    margin-top: 150px;
   
}


.sesion-texto {
    width: 100%;
    text-align: start;
    margin-top: 10px;
    color: #42549C;
    font-weight: bolder;
}

#user-texto, #password-texto {
    width: 100%;
    background-color: #B0D0F5;
    margin-top: 10px;
    padding: 20px;
    border-radius: 50px;
    border-style: none;
    

}

#boton-inicio {
    border-radius: 50px;
    background-color: #031251;
    color: #FFFFFF;
    font-weight: bolder;

    width: 160px;
    margin-top: 10px;
    padding: 10px;

}


/*--------------- MENU - TRAVEL PAGE -----------------*/
.buttonBurger {
    display: block;
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;

}
.buttonBurger:hover {
    text-decoration: none;
    border: none;
    background-color:#B0D0F5;
    cursor: pointer;

}

#topnav {
   
    position: relative;
}

#topnav #myLinks2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #FFFFFF;
    
    

}

.white-bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #FFFFFF;
    padding:  20px 10px 20px 5px;
    width: 15%;
    height: 80px;

}
.burger-nb {
    margin:10px;

}
 .v-hour-main, .v-invoice-main, .v-profile-main {
    display: none;

}
#v-next, #v-complete {

    display: none;
} #v-hour, #v-invoice, #v-profile, #v-editprofile, #v-setting, #v-logout {

    display: block;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #42549C;   
    
}

.lista-menu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100px;

    margin-left: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
}


.navegador {
    width: 100%;
}

.navegador:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #cadff6;
    height: 100px;
    border-radius: 50px;
    transition: 80ms;

}

.perfil {
    width: 100%;
}

.icon {
    display: none;
}

#profile-user {

    background-color: #FFFFFF;
    
    padding: 10px;
    border-radius: 100px;
    border-style: solid 5px;
    border-color: #031251;


}


/*-------- ESPACIO PRINCIPAL DE TRABAJO --------*/


.b-lateral {
    display: none;
    position: absolute;
    background-color: aqua;
    width: 40%;
    height: 100%;
    float: left;
    z-index: 2;
    
}

 .fondo-principal {
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    background-color: #0b5e77;
    z-index: 0;
}



.b-formulario {
    display: none;
    position: absolute;
    height: 100%;
    width: 50%;
    float: right;
    background-color: #7c0833;
    z-index: 1;
}

/*------- BARRA LATERAL -------*/
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
}

.grid-container {
    
    height: 100%;
}

#boton1 {

    display: none;
}

.links-profile2{
   
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 100px;
    border-style: solid 5px;
    border-color: #031251;
    }





}



/*

--- --- ---       ---\\\        ///---
--- --- ---\\\    --- \\\      /// ---
---         \\\   ---  \\\    ///  ---
---         |||   ---   \\\  ///   ---
--- --- -- ///    ---    \\\///    ---
--- --- ---       ---              ---
---               ---              ---
---               ---              ---
---               ---              ---

*/

/* ----------- MOBILE ----------- */



@media (max-width: 479px ){

    /*----- LOGIN -------*/
     
    .fondo { 
           
       display: block;
       
   
       background-image: url(./img/pacific.jpg);
       background-repeat: no-repeat;
       
       
       width: 100%;
       
   }
   
   
   .inicio-sesion {
   
       text-align: center;
       width: 30%;
      
       padding: 30px;
   
       background-color: #FFFFFF;
       color: #B0D0F5;
   
       border-radius: 20px;
       margin-top: 150px;
      
   }
   
   
   .sesion-texto {
       width: 100%;
       text-align: start;
       margin-top: 10px;
       color: #42549C;
       font-weight: bolder;
   }
   
   #user-texto, #password-texto {
       width: 100%;
       background-color: #B0D0F5;
       margin-top: 10px;
       padding: 20px;
       border-radius: 50px;
       border-style: none;
       
   
   }
   
   #boton-inicio {
       border-radius: 50px;
       background-color: #031251;
       color: #FFFFFF;
       font-weight: bolder;
   
       width: 160px;
       margin-top: 10px;
       padding: 10px;
   
   }
   
   
   /*--------------- MENU - TRAVEL PAGE -----------------*/
   .buttonBurger {
       display: block;
       text-decoration: none;
       border: none;
       background-color: #FFFFFF;
       cursor: pointer;
   
   }
   .buttonBurger:hover {
       text-decoration: none;
       border: none;
       background-color:#B0D0F5;
       cursor: pointer;
   
   }
   
   #topnav {
      
       position: relative;
   }
   
   #topnav #myLinks2 {
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
       color: #FFFFFF;
       padding-left: 80px;
       padding-right: 80px;
       
   
   }
   
   .white-bg {
       display: flex;
       justify-content: flex-start;
       align-items: center;
       border-top-right-radius: 100px;
       border-bottom-right-radius: 100px;
       background-color: #FFFFFF;
       padding:  20px 10px 20px 5px;
       width: 15%;
       height: 80px;
   
   }
   .burger-nb {
       margin:10px;
   
   }

   .v-next-main, .v-complete-main, .v-hour-main, .v-invoice-main, .v-profile-main {
        display: none;

   }

   #v-next, #v-complete, #v-hour, #v-invoice, #v-profile, #v-editprofile, #v-setting, #v-logout {

    display: block;
    }
   
   .menu {
       display: flex;
       justify-content: space-between;
       align-items: center;
       text-align: center;
       width: 100%;
       height: 80px;
       background-color: #42549C;   
       
   }
   
   .lista-menu2 {
       display: flex;
       justify-content: space-between;
       align-items: center;
       
       width: 100%;
       height: 100px;
   
       margin-left: 40px;
       border-top-left-radius: 50px;
       border-bottom-left-radius: 50px;
       
   }
   
   
   .navegador {
       width: 100%;
   }
   
   .navegador:hover {
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       background-color: #cadff6;
       height: 100px;
       border-radius: 50px;
       transition: 80ms;
   
   }
   
   .perfil {
       width: 100%;
   }
   
   .icon {
       display: none;
   }
   
   #profile-user {
   
       background-color: #FFFFFF;
       
       padding: 10px;
       border-radius: 100px;
       border-style: solid 5px;
       border-color: #031251;
   
   
   }
   
   
   /*-------- ESPACIO PRINCIPAL DE TRABAJO --------*/
   
   
   .b-lateral {
       display: none;
       position: absolute;
       background-color: rgb(0, 115, 255);
       width: 80%;
       height: 100%;
       float: left;
       z-index: 2;
       
       
   }
   
    .fondo-principal {
       padding: 0px;
       position: absolute;
       width: 100%;
       height: 100%;
       float: left;
       background-color: #032508;
       z-index: 0;
   }
   
   .b-formulario {
       display: none;
       position: absolute;
       height: 100%;
       width: 100%;
       float: right;
       background-color: #7c0833;
       z-index: 1;
   }
   
   /*------- BARRA LATERAL -------*/
   .dot {
       height: 25px;
       width: 25px;
       background-color: #bbb;
       border-radius: 50%;
       display: inline-block;
       
   }
   
   .grid-container {
       
       height: 100%;
   }
   
   #boton1 {
   
       display: none;
   }
   
   
   .links-profile2{
   
   background-color: #FFFFFF;
   padding: 10px;
   border-radius: 100px;
   border-style: solid 5px;
   border-color: #031251;
   }
   }


