* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
   }
    html {
        box-sizing: border-box;
    }
    .links { 
        text-decoration: none;
        font-weight: bolder;
        color: #031251;
        cursor: pointer;
    }
   
   
    
/*--------- MOBILE & TABLET----------*/
@media (min-width: 50px) and (max-width: 919px) {
   
   /*--------- LOGIN --------------*/
    header {

        text-align: center;

    }
    .fondo { 
        
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url(./img/pacific.jpg);
        
        
        width: 100%;
        height: 100%;
    }
   

    .inicio-sesion {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: 20px;
        padding: 30px;

        background-color: #FFFFFF;
        color: #B0D0F5;

        border-radius: 10px;
        margin-top: 150px;
    }

    .sesion-texto {
        width: 100%;
        text-align: start;
        margin-top: 10px;
        color: #42549C;
        font-weight: bolder;
    }

    #user-texto, #password-texto {
        width: 100%;
        background-color: #B0D0F5;
        margin-top: 10px;
        padding: 20px;
        border-radius: 50px;
        border-style: none;
        

    }

    #boton-inicio {
        border-radius: 50px;
        background-color: #031251;
        color: #FFFFFF;
        font-weight: bolder;

        width: 160px;
        margin-top: 10px;
        padding: 10px;

    }


    /*--------------- MENU -----------------*/

    .menu {
        display: block;
        text-align: center;
        width: 100%;
    }

    .listado {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .lista-menu {
        display: block;
        
        background-color: #B0D0F5;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
   

    .perfil {
        width: 100%;
    }


    .menu2 {
        display: block;
      
        
        width: 100%;
        height: 100%;
        padding: 10px;

        color: #031251;

    }

    .filtro {
        text-align: center;
    }

    /*----- HAMBURGER MENU ------*/

    /* Style the navigation menu */
    #topnav {
       
        position: relative;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    #topnav #myLinks {
        display: none;
        flex-direction: column-reverse;
        
    }

    #topnav #myLinks2 {
        display: none;
        
    }
    
    /* Style navigation menu links */
    #topnav a {
        color: #031251;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    #topnav a.icon {
        background: #B0D0F5;
        display: flex;
        justify-content: center;
        
        /*
        margin-left: 200px;
        margin-right: 200px;
        position: absolute;
        right: 0;
        top: 0;
       */
    }
    
    /* Add a grey background color on mouse-over */
    #topnav a:hover {
      
        color: #031251;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: #031251;
    }

   
   
    
 }

 
    /*-------- ESPACIO PRINCIPAL DE TRABAJO --------*/

    .fondo-principal {

        display: block;
        background-color: #031251;
        width: 100%;
        height: 1200px;
        padding: 20px;

    }

    .ticket-link {

        cursor: pointer;
        text-decoration: none;

    }

    .fondo-travel {

        display: block;
        border-radius: 20px;
        background-color: #d9e8f9;
        width: 100%;
       
        padding: 30px;
        


    }

    .ticket-travel {
        
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;


    }

    .light {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        

    }
    
    .status-light {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: green;

    }

    .information {
        display: block;
        padding: 20px;
        width: 100%;
        height: 100%;
        color: #031251;
        
    }

    #hours, #company, #vessel, #reference-number {

        font-size:  2em;
    }


/*

--- --- ---       ---\\\        ///---
--- --- ---\\\    --- \\\      /// ---
---         \\\   ---  \\\    ///  ---
---         |||   ---   \\\  ///   ---
--- --- -- ///    ---    \\\///    ---
--- --- ---       ---              ---
---               ---              ---
---               ---              ---
---               ---              ---

*/

/* ----------- DESKTOP -----------*/
@media (min-width: 920px) { 

    /*----- LOGIN -------*/
  
    .fondo { 
        
        display: block;
        

        background-image: url(./img/pacific.jpg);
        background-repeat: no-repeat;
        
        
        width: 100%;
        
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
      
        
    }

    .inicio-sesion {
   
        text-align: center;
        width: 30%;
       
        padding: 30px;

        background-color: #FFFFFF;
        color: #B0D0F5;

        border-radius: 20px;
        margin-top: 150px;
       
    }


    .sesion-texto {
        width: 100%;
        text-align: start;
        margin-top: 10px;
        color: #42549C;
        font-weight: bolder;
    }

    #user-texto, #password-texto {
        width: 100%;
        background-color: #B0D0F5;
        margin-top: 10px;
        padding: 20px;
        border-radius: 50px;
        border-style: none;
        

    }

    #boton-inicio {
        border-radius: 50px;
        background-color: #031251;
        color: #FFFFFF;
        font-weight: bolder;

        width: 160px;
        margin-top: 10px;
        padding: 10px;

    }


    /*--------------- MENU - PAGE 2 -----------------*/
    #topnav {
       
        position: relative;
    }
    
    #topnav #myLinks2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px;
        padding-left: 80px;
        padding-right: 80px;
        

    }

   
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-left: 40px;
        
    }

    .lista-menu {
        display: none;
        justify-content: space-between;
        align-items: center;
        background-color: #B0D0F5;
        width: 100%;
        height: 100px;

        margin-left: 40px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        
    }

    .lista-menu2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #B0D0F5;
        width: 100%;
        height: 100px;

        margin-left: 40px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        
    }


    .navegador {
        width: 100%;
    }

    .navegador:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #cadff6;
        height: 100px;
        border-radius: 50px;
        transition: 80ms;

    }

    .perfil {
        width: 100%;
    }

    .menu2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 50px;

        padding-left: 50px;

        color: #031251;

        box-shadow: 0px 4px 4px 0px rgba(78, 78, 78, 0.5);

    }

    .icon {
        display: none;
    }


    #profile-user {

        background-color: #FFFFFF;
        margin-left: 200px;
        padding: 20px;
        border-radius: 100px;
        border-style: solid 5px;
        border-color: #031251;


    }

    
     /*-------- ESPACIO PRINCIPAL DE TRABAJO --------*/

     .fondo-principal {

        background-color: #031251;
        padding: 0px;
        height: 800px;
        

    }

    .ticket-link {

        cursor: pointer;

    }

    .fondo-travel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px;
        background-color: #ffffff;
        width: 100%;
        height: 130px;
        margin-top: 5px;
        padding: 20px;
        padding-left: 200px ;
        padding-right: 200px ;

        box-shadow: 0px 4px 4px 0px rgba(78, 78, 78, 0.5);

    }

    

    .ticket-travel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
     

    }

    .light {
       
        width: 20%;
        

    }
    
    .status-light {
        position: relative;
        top: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-right: 10px;
        background-color: green;

    }

    .information {

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 30px;
        margin-left: 10px;
        

    }

    #hours, #company, #vessel, #reference-number {
        display: flex;
        justify-content: space-between;
        font-size:  1.5em;
        padding-left: 30px;
        width: 100%;
    }

    #hours p, #company p, #vessel, #reference-number {
        display: flex;
        justify-content: space-between;
        font-size:  1.5em;
        padding-left: 30px;
        width: 100%;
    }

}



